*,
*:before,
*:after {
	margin:0; 
	padding:0; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
img {
	border: 0 none;
}
@include c-font($set-c-font: $set-custom-font, $c1-font-family: $font-family, $c1-font-family-url: $font-family-url);
html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
	font-size: 62.5%;
}
body {
	background: $body-bg;
	color: $body-text-color;
	font-size: $body-font-size;
	line-height: $line-height;
	font-family: $body-font-family;
}
a {
	color: $link;
	text-decoration: none;
	outline: none;
	&:hover {
		color: $link-hover;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight: $h-weight;
	letter-spacing: .02em;
}
h1 {
    font-size: $h1-size;
    color:$gray-headline;
}
h2 {
    font-size: $h2-size;
    color:$gray-subheadline;
}
h3 {
    font-size: $h3-size;
    color:$gray-subheadline;
}
h4 {
    font-size: $h4-size;
}
h5 {
    font-size: $h5-size;
}
h6 {
    font-size: $h6-size;
}
label {
    font-size: $label-size;
    font-weight: bold;
}
p {
    font-size: $p-size;
}
ul {
	list-style:none;
	li {
		font-size: $li-size;
	}
}
ol {
	list-style-position:inside;
}
// Form Elements
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
	padding: 10px 14px;
	margin: 0 0 10px;
	width: 100%;
	font-size: 1.4rem;
	color: $input-text-color;
	font-family: $font-family;
	border: 1px solid #ccc;
	background: $input-bg;
	border-radius: $border-radius;
	outline: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
	transition: border 0.3s;
	
	&:focus {
		border: 1px solid darken(#ccc,15%);
	}
	&.required {
		border: 1px solid $color-red;
	}
}
// input[type="submit"] {
// 	padding: .8% .6%;
//     border: 1px solid #ccc;
//     font-size: 1rem;
//     background: $input-bg;
//     color: $input-text-color;
//     font-family: $font-family;
//     margin: 0 0 1%;
//     cursor: pointer;
//     &:hover {
//     	background: darken($input-bg, 5%);
//     }
//     &:active {
//     	background: darken($input-bg, 10%);
//     }
// }
textarea:focus, 
input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="tel"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
	color: $input-focus-text-color;
	background:$input-bg;
	// @include box-shadow(0 0 4px rgba(66,167,221, 0.9));
}
input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder {
    color: $input-focus-text-color;
    @include box-shadow(none);
}
textarea {
	min-height:100px;
}
button {
	border: 0 none;
}
@include drop-down($dd-default-w: 100%, $dd-h: 36px, $dd-margin: $auto, $dd-t-padding: 0 .4em, $dd-t-color: $select-t-color, $dd-f-weight: normal, $dd-f-size: 1em);
// Btn
%btnAll {
	font-size:1.4rem;
	line-height:1rem;
	padding:$btn-padding;
	margin:0 auto;
	border:0 none;
    color: $btn-text-color;
    width: 100%;
    font-weight: normal;
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none;
    border-radius: $border-radius;
    background:$btn-color;
	&:hover {
		cursor:pointer;
		background:$btn-hover;
	}
}