// Add UI colors here
// Example Base Colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #eaeaea;
$color-grey: $color-gray;
$color-red: #e24547;
$color-orange: #f18c2c;
$color-blue: #42a7dd;
$color-green: #78ca45;
$color-yellow: #e2dc2f;
$color-purple: #a132a8;
$primary: #1ABC9C;
$warning: #F1C40F;
$default: #BDC3C7;
$danger: #E74C3C;
$success: #2ECC71;
$inverse: #34495E;
$info: #3498DB;
// $bg-color: #687991;
$bg-color: #EAEDF1;

// DONT CHANGE VARIABLE NAMES BELOW THIS POINT 
// _base.scss AND mixins.scss ARE DEPENDENT ON THESE VARS

// Custom Font Family
// Set true to use embeded fonts set false to use google font or default font
$set-custom-font: true;
$font-family: 'Proxima Nova','Montserrat', 'Open Sans', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-family-url: 'itcavantgardestd-md';
$line-height: 1.5;
//Add custom family and url for more fonts 

// Default Font Colors
$gray-headline: #333;
$gray-subheadline: #444;
$gray-maintext: #333;

// body Background
$body-bg: none center center no-repeat $bg-color;
$body-text-color: $gray-maintext;
$body-font-family: $font-family;
$body-font-size: 1.6em;

// Elements
$link: #226B93;
$link-hover: darken($link,20%);
$ui-border: 1px solid #555;

// Spacing
$auto: 0 auto;

//border radius
$border-radius: 3px;

// H font style
$h-weight: 700;

// Base font-size
$h1-size: 2.8rem;
$h2-size: 2.2rem;
$h3-size: 1.8rem;
$h4-size: 1.2rem;
$h5-size: 1rem;
$h6-size: 0.8rem;
$label-size: 1.2rem;
$p-size: 1.2rem;
$li-size: 1.2rem;

// input style
$input-bg: #fff;
$input-text-color: #555;
$input-focus-text-color: #555;
$input-focus-border-color: #e24547;

// Custom select drop down
$select-t-color: #757474;
$select-gradent-to: #fff; 
$select-gradent-from: #e7e7e7;
$select-gradent-default: #fff;

$dd-default-w: 100%;
$dd-h: 36px;
$dd-margin: 5px 0 20px;
$dd-t-padding: 4px .4em;
$dd-t-color: $select-t-color;
$dd-f-weight: normal;
$dd-f-size: 1em;
$dd-bg: #ccc;

// Main btnAll Default
$btn-color: #e24547;
$btn-hover: #f18c2c;
$btn-text-color: #fff;
$btn-padding: .3em 0;

// Animation
$animation-speed: 0.25s;

// Grid Spacing / Use for global spacing
$top: auto;
$right: 1%;
$bottom: auto;
$left: 1%;

// Grid Selector: 
// Use '%' for silent/placeholder selector and '.' for normal selector
$gd-selector: '%';

// Set grid count default 12
$gd-count: 12;

// Braking Points
$start-width: 1250px;
$mid-lr: 750px;
$mobile-lr: 480px;



//---------- BOOSTRAP GRID ----------
// spacer
$spacing: 1.5rem;
$gutter: 3rem;
$grid-spacing: 30px;
// max width of PSD layout
$screen-max:		1440px;

// Media queries breakpoints
$screen-xs-min:		480px;
$screen-sm-min:		768px;
$screen-md-min:		992px;
$screen-lg-min:		1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:		($screen-sm-min - 1);
$screen-sm-max:		($screen-md-min - 1);
$screen-md-max:		($screen-lg-min - 1);
$screen-lg-max: 	($screen-max - 1);

// Grid system

// Number of columns in the grid.
$grid-columns:			12;
// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:		$grid-spacing;

$grid-float-breakpoint:			$screen-sm-min;
$grid-float-breakpoint-max:		($grid-float-breakpoint - 1);


//== Container sizes

// Define the maximum width of `.container` for different screen sizes.

$container-sm:		(720px + $grid-gutter-width);
$container-md:		(940px + $grid-gutter-width);
$container-lg:		(1140px + $grid-gutter-width);

