.error-overlay {
	position: fixed;
	height: 100%;
	width:100%;
	top:0;
	left:0;
	opacity: 0;
	background:rgba(0,0,0,0.75);
	z-index: 1000;
	transition: all 0.5s;

	.openOverlay & {
		opacity: 1;
	}
}
.error-container {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 500px;
	padding: 20px;
	margin: 0 0 0 -250px;
	//min-height:120px;
	overflow: hidden;
	opacity: 0;
	z-index: 1001;
	background: #fff;
	border-radius: 4px;
	@include box-shadow(0 0 15px rgba(0,0,0,0.4));
	transition: all $animation-speed;

	.openOverlay & {
		top: 40%;
		opacity: 1;
	}

	p {
		margin: 0 0 10px;
	}
	.cancel,
	.confirm {
		float: left;
		margin: 0 20px 0 0;
	}
}

