.error-overlay {
	position: fixed;
	height: 100%;
	width:100%;
	top:0;
	left:0;
	background:#333;
	background:rgba(0,0,0,0.75);
	z-index: 9999;

	.error-container {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 500px;
		padding: 20px;
		margin: 0 0 0 -250px;
		//min-height:120px;
		overflow: hidden;
		background: #fff;
		background:rgba(255,255,255,1);
		border-radius: 4px;
		@include box-shadow(0 0 15px rgba(0,0,0,0.4));

		p {
			margin: 0 0 10px;
		}
		.cancel,
		.confirm {
			float: left;
			margin: 0 20px 0 0;
		}
	}
}