/*====================== FOOTER =======================*/
.footer {
	padding: 0;
	color: #ccc;
	background: darken($bg-color,70%);
}
.footerWrap {
	// @extend %gw;
	@extend .container;
	// width: 1250px;
	margin: 0 auto;
	padding: 20px 0;
	@include clearfix();

	.copyright {
		width: 75%;
		float: left;
	}
	.links {
		width: 25%;
		float: left;
	}
}