/*====================== FOOTER =======================*/
.footer {
	padding: 0;
	color: #ccc;
	background: darken($bg-color,70%);
}
.footerWrap {
	// @extend %gw;
	@extend .container;
	// width: 1250px;
	margin: 0 auto;
	padding: 20px 0;
	@include clearfix();

	.copyright {
		@media (min-width: $screen-sm-min) {

		}
		@include make-sm-column(8);
		// width: 75%;
		// float: left;
	}
	.links {
		@include make-sm-column(4);
		// width: 25%;
		float: left;
		text-align: right;
	}
}