#side {
	@include make-sm-column(3);
	// width: 20%;
	margin: 20px auto 0;
	float: right;
	clear: right;

	.sideWrap {
		width: 100%;
		margin: 0 auto 20px;
		padding: 10px 6%;
		background: #fff;
		@include clearfix();

		&.sidePost {
			padding: 0;
			background: none;
		}
	}

	.submitbtn {
		margin: 0 auto;
	}

}