/*---------- ERROR PAGE ----------*/
.errorWrap {
	height: 900px;
}
.errorContent {
	img {
		width: 100%;
	}
	.content {
		padding: 20px;
		margin: 20px auto;
		background: #fff;
		border-radius: 5px;
	}
}