/* ------- FRONT Page ------- */
.homeWrap {
	height: 900px;
}
.homeHeading {
	// @include make-sm-column(12);
	position: relative;
	text-align: center;
	margin: 80px auto 40px;
	z-index: 1;

	h2,
	p {
		// text-align: left;
		color: #fff;
		text-shadow: 0 1px 4px rgba(0,0,0,0.7);
	}
	h2 {
		font-size: 2.5rem;
	}
	p {
		font-size: 1.4rem;
	}
}

.signupfront {
	@include make-sm-column(4);
	@media (min-width: $screen-sm-min) {
		float: none;
		clear: both;
	}
	float: left;
	margin: 50px auto 0;
	padding: 20px;
	z-index: 1;
	background: #fff;
	background: rgba(255,255,255,0.95);
	// border:1px solid #eee;
	border-radius: $border-radius;
	@include box-shadow(0 1px 3px rgba(0,0,0,.25));
	// @include gradient(#f9f9f9, #e6e6e6);

	form {
		overflow: hidden;
	}
	p,
	h3 {
		float:right;
		clear:both;
		width: 100%;
		margin:0 0;
		font-size:1.4rem;
	}

	h3 {
		font-size:1.6rem;
		color:#2079A6;
		margin:0px 0 15px 0;
		float:none;
		text-align:center;
		// text-shadow:0 1px 0px rgba(255,255,255,0.5);

		span {
			color:#333;
		}
	}

	hr {
		clear: both;
		margin: 20px 0;
		background: none;
		border: 0 none;
		border-top: 1px solid #e2e2e3;
	}

	// .userinput {
	// 	float: right;
	// 	padding: 10px;
	// 	font-size: 1.4rem;
	// 	width: 100%;
	// 	border: 1px solid #888;
	// 	border-radius: 4px;
	// 	@include box-shadow(inset 0 1px 3px rgba(0,0,0,0.15));
	// }
	.signup {
		float: none;
		margin: 0 auto;
		width: 100%;
	}

	.submitbtn {
		float: right;
	}
	.forgotpassword {
		width: auto;
		float: left;
		margin: 10px auto;
	}

	.signupbtn {
		color: #333;
		background: $color-yellow;

		&:hover {
			color:#000;
			background: darken($color-yellow, 5%);
		}
	}
}

.homeabout {
	background: $bg-color;

	&--mainboard {
		background: #1BBAE1;
	}
	&--categories {
		background: #9A5CB4;
	}
	&--groups {
		background: #58C6BA;
	}

	&__wrap,
	&__content {
		min-height: 400px;

		// li {
		// 	@include make-sm-column(4);
		// }
	}

	h1, 
	p {
		color: #fff;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}
}

.home {
	background: #000;
	.error {
		margin: 30px 0 0px;
	}
}

#bgslider {
	top: 115px;

	&,
	&:after {
		position: absolute;
		width: 100%;
		height: 900px;
		left: 0px;
		z-index: -1;
	}

	&:after {
		content: '';
		top: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		// background: url(../images/pages/index/gradient.png) repeat-x top left;
	}

	li { 
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		color: transparent;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: none;
		opacity: 0;
		z-index: -1;
		animation: imageAnimation 42s linear infinite 0s;

		// show the first one if there's no animation support
		.no-cssanimations & {
			opacity: 1;
		}
	}
	
	li:nth-child(1) { 
		background-image: url(../images/pages/index/bgslide_01.jpg) 
	}
	li:nth-child(2) { 
		background-image: url(../images/pages/index/bgslide_02.jpg);
		animation-delay: 6s; 
	}
	li:nth-child(3) { 
		background-image: url(../images/pages/index/bgslide_03.jpg);
		animation-delay: 12s; 
	}
	li:nth-child(4) { 
		background-image: url(../images/pages/index/bgslide_04.jpg);
		animation-delay: 18s; 
	}
	li:nth-child(5) { 
		background-image: url(../images/pages/index/bgslide_05.jpg);
		animation-delay: 24s; 
	}
	li:nth-child(6) { 
		background-image: url(../images/pages/index/bgslide_06.jpg);
		animation-delay: 30s; 
	}
	li:nth-child(7) { 
		background-image: url(../images/pages/index/bgslide_07.jpg);
		animation-delay: 36s; 
	}
	
	// .photocred {
	// 	display: block;
	// 	position: absolute;
	// 	bottom: 10px;
	// 	left: 10px;
	// 	padding: 4px 10px;
	// 	color: #333;
	// 	background: rgba(255,255,255,0.6);
	// 	border-radius: 4px;
	// }
}

@keyframes imageAnimation { 
	0% { opacity: 0; animation-timing-function: ease-in; }
	8% { opacity: 1; animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
}