
/*---------MY PROFILE-----------*/
#myprofile {
	// @extend %gd8;
	@include make-sm-column(8);

	@media (min-width: $screen-sm-min) {
		float: none;
	}
	
	// width: 500px;
	margin: 20px auto 0;
	padding: 0px;
	// background-color: #f3f3f3;
	overflow: auto;
	border-radius: 5px;

	.userpic{
		position: relative;
		width: 100%;
		margin: 0 auto 0 0;
		padding: 40px 10px;
		text-align: center;
		background: #2C353A;
		overflow: hidden;
		@extend %profile-bg-colors;

		&:hover {
			.showbgSelector {
				bottom: 0px;
			}
		}

		img {
			display: block;
			width: 90px;
			margin: 0 auto 10px;
			border: 4px solid #fff;
			@include box-shadow(0 0 3px rgba(0, 0, 0, 0.35));
		}
		.lvl {
			width: 90px;
			margin: 0 auto;
			p {
				margin: 0;
			}
		}
		h3 {
			margin: 10px auto;
			color: #fff;
			text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		}
		.showbgSelector {
			position: absolute;
			left: 10px;
			bottom: -30px;
			font-size: 1rem;
			color: #333;
			padding: 2px 5px;
			cursor: pointer;
			background: rgba(255,255,255,0.5);
			border-radius: 2px;
			@include transition(all 0.5s ease);
		}
	}
	

	.userinfo {
		width: 100%;
		padding: 20px;
		margin: 0 auto 20px;
		background-color: #fff;
		@include clearfix();
		border-radius: 0 0 5px 5px;
	}
	

	.posts,
	.comments,
	.likes {
		float: left;
		text-align: center;
		padding: 10px 0px;
		margin: 20px 1%;
		// min-width: 100px;
		width: 31.333%;
		border: 1px solid #dedede;
		@include gradient(#ffffff, #f2f2f2);
		border-radius: $border-radius;
		@include box-shadow(0 2px 0px rgba(0, 0, 0, 0.1));
	
		.icon {
			display: block;
			width: 20px;
			height: 20px;
			margin: 0 auto;
			background: url('../images/mini-icons.png') no-repeat;
		}
	}
	.posts .icon {background-position: 0 -120px;}
	.comments .icon {background-position: 0 -90px;}
	.likes .icon {background-position: 0 -60px;}
	
	.postcount,
	.commentcount,
	.likescount {
		// font-weight: bold;
		font-size: 2.4rem;
	}

	p {
		margin: 10px 0;
		font-size:1.4rem;
		font-weight:normal;
		color:#666;

		&.location,
		&.car,
		&.group,
		&.email,
		&.joindate {
			text-align: center;
			padding: 10px;
			color: #ccc;
			@include gradient(lighten(#2e3846,5%), #2e3846);
			border-radius: 4px;
			
			.icon {
				display: inline-block;
				width: 20px;
				height: 20px;
				margin: 0 10px 0 0;
				vertical-align: -5px;
				background: url('../images/mini-icons.png') no-repeat;
			}
		}
		&.location .icon {background-position: -40px 0;}
		&.car .icon {background-position: -40px -30px;}
		&.group .icon {background-position: -40px -60px;}
		&.email .icon {background-position: -40px -90px;}
		&.joindate .icon {background-position: -40px -120px;}
		
		&.bio {
			text-align: center;
		}
	}

	label {
		margin: 10px 0 0;
	}
	form {
		clear: both;
	}

	.user-image {
		font-size:1.6rem;
		font-weight:bold;
	}
}
.updateprofile,
.profileSettings {
	// width:48%;
	padding: 20px;
	margin: 0 auto 20px;
	background-color: #fff;
	border-radius: $border-radius;

	h3 {
		text-align: center;
	}
}
.updatephoto {

	span {
		position: relative;
		height: 30px;
		width: 180px;
		padding: 4px 0 0;
		margin: 0 auto;
		text-align: center;
		font-style: normal;
	}
	input[type="file"] {
		@include opacity(0);
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		cursor: pointer;
	}
}
.update-bio {

	.profile {
		font-size:1.6rem;
		font-weight:bold;
		margin: 10px 0;
	}
}

.suboptions {
	margin: 10px auto;
	padding: 5px 20px;
	background: darken(#fff, 5%);
	border-radius: 2px;
}

#fname,
#lname,
#profileinfo {
	width:100%;
}
.profilebgOverlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 9;
}
.profilebgWrap {
	position: absolute;
	top: 15%;
	left: 50%;
	width: 60%;
	padding: 20px;
	margin: -80px 0 0 -30%;
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	@include box-shadow(0 1px 5px rgba(0,0,0,0.3));
	@include clearfix();

	.closex {
		position: absolute;
		top: 0;
		right: 0;
		padding: 4px 8px;
		color: #555;
		cursor: pointer;
		background: #ddd;
	}
	
	p,
	.bgselect {
		clear: both;

		.default {
			background:  url('../images/default.png');
		}

		span {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	li {
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1% 10px 0;
		text-indent: -9999px;
		cursor: pointer;
		@extend %profile-bg-colors;
	}
}

.profileSettings {

}