/*============= TERMS/PRIVACY POLICY =============*/
.pp {
	padding: 20px;
	background: rgba(0,0,0,0.3);
	border-radius: 4px;

	h2,
	p,
	li,
	h4 {
		color: #eee;
		margin: 0 auto 10px;
		text-shadow: none;
	}
	ul {
		
	}
	li {
		list-style: outside;
		margin: 0 0 10px 20px;
	}
}